*{
    margin:0;
    padding:0;
    background-color: black;
}
.container{
    position: relative;
    margin: 50% 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.rink{
    /* rink dems. by estimation */
    height: 600px;
    width: 360px;
    /* creates rink shape */
    border-radius: 1000px / 400px;
    background-color: snow;
}
.line{
    /* create basic red lines for lines across rink */
    height: 2px;
    width: 359px;
    background-color: #c0392b;
    margin-top: 65px;
    margin-bottom: 30px;
}
.rink > .line:nth-child(2){
    /* mimic line properties but create unique locations and line colors to match rink designs */
    width: 359px;
    background-color: #8fbbf9;
    margin-top: 180px;
}
.rink > .line:nth-child(3){
    /* center ice line.  */
    width: 359px;
    background-color: #c0392b;
    margin-top: 50px;
    margin-bottom: 30px;
}
.rink > .line:nth-child(4){
    width: 359px;
    background-color: #8fbbf9;
    margin-top: 50px;
}
.rink > .line:nth-child(5){
    width: 359px;
    background-color: #c0392b;
    margin-top: 180px;
    margin-bottom: 20px;
}
/* .face-off{
    **Creates faceoff cirles to mimic**
    position: absolute;
    height: 60px;
    width: 60px;
    border-radius: 100px/ 100px;
    background-color: snow;
    border-color: #c0392b;
 }*/